
// COLORS
$clPaper: rgb(210,200,185);
$clShadow: lighten(rgb(0,0,0), 30);

$clPrimary: #66594d;
$clSecondary: rgb(60, 180, 155);
$clTertiary: rgb(40, 170, 235);
$clFourth: rgb(100, 140, 0);

$clDanger: rgb(180, 0, 0);

// FONTS
$fontFamily: 'Neue Helvetica', sans-serif;